@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-weather {
    background-image:linear-gradient(to right, #f64c03, #344df3);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .sticky {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 50; /* Ensure it is above other elements */
  }